name: AI Similarity Checker

on:
  issues:
    types: [opened, edited]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: |
          echo "The workflow is working."
          echo "Issue number: ${{ github.event.issue.number }}"
